body, html {
    background-color: rgb(41, 10, 38);
    font-family: 'Comfortaa', sans-serif;
}

#container {
    margin: 12px;
    max-width: 1190px;
    margin: 0 auto;
    background-color: rgb(41, 10, 38);
}

#page-title {
    font-family: 'Montserrat Subrayada', sans-serif;
}
#header::after {
    content: "";
    display: table;
    clear: both;
}

#page {
    border-top: 1px solid silver;
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-bottom: 1px dashed silver;
    font-size: 1.1em;
    color: #FFF;
    line-height: 1.3em;
}
#page::after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    margin-bottom: 5px;
    margin-top: 15px;
}
#footer::after {
    content: "";
    display: table;
    clear: both;
}
#footer div {
    float: left;
    width: 45%;
    color: silver;
    font-weight: bold;
    font-size: 1.1em;
}

#footer a {
    color: rgb(179, 219, 206);

}
.neonText {
    color: #fff;
    text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 7px #fff,
        0 0 14px #0fa,
        0 0 25px #0fa,
        0 0 44px #0fa,
        0 0 66px #0fa,
        0 0 76px #0fa;  
}
  
  h1.neontitle {
    font-size: 2.8rem;
    margin: 0px 14px 20px;
  }


#page-title {
   float: left;
   width: 50%;
}
#title-date {
    float: right;
    width: 24%;
    font-weight: 400;
    color: cyan;
    text-align: center;
    margin-top: 6px;
    font-size: 1.1em;
}
#page-settings {
    float: right;
    width: 20%;
    text-align: right;
    font-weight: bold;
    margin-top: 6px;
}

.onemovie {
    border-bottom: 5px dashed #333;
    margin-top: 3px;
}
.movie-container {
    display: grid;
    grid-template-columns: 75px 1fr 120px;
    align-self: self-start;
    gap: 0px 2px ;
}

.movie-left {
    text-align: left;
  }

.movie-right {
    text-align: right;
  }
.rating img {
    vertical-align: text-top;
}
.movie-center {
    text-align: left;
    
}

.movie-title {
    font-size: 1.2em;
    margin: 5px 0px 0px 5px;
    color: #FFF;
}
.movie-time {
    color:  rgb(182, 250, 46);
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.6em;
}
.movie-closing {
    background-color: rgb(18, 99, 61);
    text-align: center;
    line-height: 25px;
    font-size: 0.9em;
    color: #b9b9b9;
}

.movie-closing::after {
    clear:both;
}
.movie-rating img {
    height: 30px;
}
.headertime {
    display: block; 
    font-weight: bold;
}


.movie-desc {
    font-size: 0.9em;
    margin: 5px;
    margin: 0px 0px 0px 5px;
    color:rgb(161, 161, 161);
    margin-bottom: 5px;
}

.movie-info {
    font-size: 0.9em;
    margin: 5px;
    margin: 0px 0px 0px 5px;
    color:rgb(161, 161, 161);
    margin-bottom: 3px;

}

[class^="movie-mobile-"] {
    display: none;
}

a.settings {
    text-decoration: none;
    color: white;
}
.material-symbols-outlined {
    vertical-align: middle;
}

button {
	box-shadow: 0px 1px 0px 0px #000000;
	background:linear-gradient(to bottom, #ffec73 5%, #e3a035 100%);
	background-color:#ffec73;
	border-radius:3px;
	border:1px solid #c7b293;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
	padding:3px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f2e796;
    margin: 0px 0px 0px 5px
}
button:hover {
	background:linear-gradient(to bottom, #e3a035 5%, #ffec73 100%);
	background-color:#e3a035;
}
button.myButton:active {
	position:relative;
	top:1px;
}


/* Responsiivisuus alle 690px tilassa */
@media (max-width: 690px) {
    #container {
        margin: 12px;
    }
    #page-title {
        float: none;
        width: 100%;
        text-align: center;
    }

    #title-date {
        float: left;
        width: 50%;
        text-align: left;
    }

    #page-settings {
        float: right;
        width: 50%;
    }
    .headertime {
        display: inline; 
    }
    #footer div {
        float: none;
        width: 100%;
        margin-top: 15px;
    }
    .footer-1 {
        border-bottom: 1px dotted silver;
    }
    .movie-container {
        display: grid;
        grid-template-columns: 75px 1fr;
        align-self: self-start;
        gap: 0px 2px ;
    }
    .movie-time {
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
        font-size: 1.2em;
    }
    .movie-title {
        font-size: 1em;
    }
    .mobile-rating {
        display: block;
    }
    .rating {
        display: none;
    }

    .movie-mobile-rating {
        display: block;
    }
    .rating {
        display: none;
    }

    .movie-mobile-links {
        display: block;
    }
    .movie-right {
        display: none;
    }
    .movie-mobile-rating-img {
        height: 18px;
    }
}